@import url('menu.css');
@import url('library.css');
@import url('logo.css');
@import url('general.css');

.homecontainer-uppermenu{
    width: 100%;
    flex-direction: row;
    height: 10%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width:600px){
    .homecontainer-uppermenu{
        display: flex;
    } 
}
.homecontainer-uppermenu-alt-setdisplayflex{
    display: flex;
}