.homecontainer-centermenu-bar-search{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #21242D;
    width: 235px;
    height: 40px;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
}
.homecontainer-centermenu-bar-search-input{
    background-color: #21242D;
    width: 175px;
    border:none;
    height: 35px;
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
.homecontainer-centermenu-bar-search-input:focus{
    outline: none;
}

@media screen  and (max-width:600px) {
    .homecontainer-centermenu-bar-search{
        gap: 10px;
        width: 170px;
    }
    .homecontainer-centermenu-bar-search-input{
        width: 125px;
        font-size: 15.5px;
        font-weight: 500;
    }
}