.homecontainer-leftmenu-library{
    display: flex;
    align-items: flex-start;
    justify-items: center;
    gap: 15px;
    flex-direction: column;
}
.homecontainer-leftmenu-library-as{
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.homecontainer-leftmenu-library-h3{
    color : #F9F9F9;
    opacity: 67%;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}